.footer {
    height: 3em;
    background-color: #131A22;
    color: #FFF;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
  }